
<div class="pure-g">
     
     <!--Navigation-->    
     <div class="pure-u-1 pure-menu pure-menu-horizontal">
        <!--Logo--> 
         <div class="pure-u-1-2">
            <a href="https://www.facebook.com/PhoenxGFX/">
             <img id="logo" src="http://res.cloudinary.com/dbfihxvck/image/upload/v1481041266/logo_738295_zq9b9h.png">
             </a>
         </div>
         
         <ul class="pure-menu-list pure-u-1-2 pure-u-sm-1-2">
            
             <!--NavigationLIST-->  
              <li class="pure-menu-item "><a href="index.ejs" class="pure-menu-link">Home</a></li>
              
              <!--NavigationDROPDOWNLIST-->  
              <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" id="menuLink1" class="pure-menu-link">Artwork</a>
                  <ul class="pure-menu-children">
                      <li class="pure-menu-item">
                          <a href="#" class="pure-menu-link">Digital</a>
                      </li>
                      <li class="pure-menu-item">
                          <a href="#" class="pure-menu-link">Print</a>
                      </li>
                      <li class="pure-menu-item">
                          <a href="#" class="pure-menu-link ">3D</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
     
      
      
      <!--Content--> 
      <div class="pure-u-1">
            <h1>Digital creator.</h1>
            <span>- Aristide Matton. -</span>
      </div>
      <!--articles--> 
      <div class="pure-u-1">
            <div class="pure-u-sm-3-5 pure-u-md-4-5 pure-u-lg-1-3">
            <h2>Webdesign</h2>
                <p> I've only been busy with webdesign in the last 3 years. I'm still learning new things everytime I create a new website, or use a new library, ... Webdesign is really interesting, but I find myself in an endless web of development wich doesn't really suit me. I've always had more touch &amp; feel with nice colorschemes, and really simplistic websites. So in my eyes, a website doesn't has to be at a wordpress level, it can be so beautifull with using just simple HTML &amp; CSS with some Javascript or Jquery.
                </p>
                <p>
                 <i class="fa fa-code" aria-hidden="true"></i>
                
                </p>
             </div>
            
            <div class="pure-u-sm-3-5 pure-u-md-4-5 pure-u-lg-1-3">
            <h2>Photomanipulation</h2>
            <p>Ever since I was a kid, I really love the art of manipulation using photographs. You can tell a completely different story by just cutting and pasting some pictures and merging them together.
            The effects and allround vibe you can create with just some smokes, fires, glass shatters and such is pretty amazing if u know what to do. I'll always keep trying to create some photomanipulations now and then. Just to keep up with the latest techniques, tips &amp; tricks and tutorials. You'll never know what u can learn on the internet!
                </p>
                <p>
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
            </p>
            </div>
            
            <div class="pure-u-sm-3-5 pure-u-md-4-5 pure-u-lg-1-3">
            <h2>3D</h2>
            <p>I started with 3d modeling and 3d art because I was a severe gamer. I needed some cool &amp; fresh intros for my gaming team so I started experimenting. Little did I know that 5 years later I'd still be interested in the 3d-world. I believe this is the path I want to take in the future, let my mind be blown away by the 3d environment of the cinematic studios. Nowadays I really don't have a lot of time on my hand because of all my work for school, so I hadn't really had th echance to create something on my own. I really want to create my own projects, with my own models and colors, but I guess that'll be for after I've finished my studies. </p>
            <p><i class="fa fa-cube" aria-hidden="true"></i></p>
            </div>
    </div>

</div>




<div class="pure-g" id="whiteBG">

<div class="pure-u-1">
      <div class="pure-u-2-5 pure-u-sm-5-5" id="pic1"></div>
      <div class="pure-u-3-5 pure-u-sm-5-5" id="pic2"></div>
      
       <div class="pure-u-3-5 pure-u-sm-5-5" id="pic3"></div>
      <div class="pure-u-2-5 pure-u-sm-5-5" id="pic4"></div>
     
      
      <div class="pure-u-2-5 pure-u-sm-5-5" id="pic5"></div>
      <div class="pure-u-3-5 pure-u-sm-5-5" id="pic6"></div>        
</div>
      
</div>  
 






        <footer>
            <center>
                aristide matton © - it3 - opdracht 8 - purecss - 
            </center>
     </footer>
